.h100 {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.header{
    max-width: 300px;
    font-size: 36px;
    text-align: left;
    margin-top: 0px;
}

.description{
    max-width: 300px;
    font-size: 16px;
}

.list{
    margin-top: 0px;
}

